<?php

/* 
 * Fill in the settings for testing.
 * They key needs full access to route 53 and route53 domains
 * After filling in the details, rename this file to settings.php
 */

define('AWS_KEY', '');
define('AWS_SECRET', '');